p
  ' Welcome to EnterShip!

p
  ' Thank you for completing your EnterShip registration. We look forward to
  ' helping you to find rewarding work in the future.

p
  ' Cheers!
  br
  ' The EnterShip Team
