.row
  .col-md-12
    h1 About
.row
  .col-md-4
    p
      ' We connect aspiring professionals with companies in the broader maritime
      ' industry.
    p
      ' Whether you are a recent graduate looking for a career in commercial
      ' maritime services, a young professional in shipping looking to get
      ' scouted by industry leaders or an executive seeking to strengthen your
      ' position in the market, we help to provide you with the easy tools to
      ' fulfill your aspirations.
  .col-md-4
    p
      ' On Entership you can create a profile to exhibit your skills and
      ' experience, look up maritime companies and professional members, browse
      ' and apply for jobs and build a global shipping network.
    p
      ' Our mission is to be a world leader in matching demand for and supply of
      ' professionals in the broader maritime industry.
  .col-md-4
    p
      ' In doing so, we apply our ethos of transparency, trust and efficiency in
      ' everything we do as we make the maritime industry more accessible to
      ' aspirational professionals and build a global shipping network.
    p
      ' Entership was founded by
      strong Su Yin Anand
      ' ,
      strong Tabitha Logan
      ' , and
      strong> Andrew Oates
      ' in 2014.
